**/__pycache__
**/slask.py
.idea/
venv/
.DS_Store
.mypy_cache
/data/
.vscode/
/deprecated/
/emastr_analysis/Scripts/**/*.parquet
/emastr_analysis/Data/**/*.parquet
/emastr_analysis/Scripts/**/*.pdf
/emastr_analysis/Data/**/*.pdf
/emastr_analysis/Data/**/*.dictionary
/emastr_analysis/Figs/
/models/bad_models/
/notebooks/.ipynb_checkpoints/
/emastr_analysis/examples/

